[submodule "ros2bdi_ws/src/ROS2-BDI"]
	path = ros2bdi_ws/src/ROS2-BDI
	url = https://github.com/RTI-BDI/ROS2-BDI.git
[submodule "plansys2_ws/src/ros2_planning_system"]
	path = plansys2_ws/src/ros2_planning_system
	url = https://github.com/RTI-BDI/ros2_planning_system.git
[submodule "webots_ros2_ws/src/webots_ros2"]
	path = webots_ros2_ws/src/webots_ros2
	url = https://github.com/marcorobol/webots_ros2.git
[submodule "JavaFF"]
	path = JavaFF
	url = https://github.com/RTI-BDI/JavaFF
[submodule "javaff_ws/src/JavaFF"]
	path = javaff_ws/src/JavaFF
	url = https://github.com/RTI-BDI/JavaFF
